// color:
$white: #ffffff;
$background: #d6dbd5;
$accent-300: #009688; //STRIPE
$accent-200: #06d755; //NOTIFY
$accent-100: #dcf8c7; //OWN CHAT BUBLE
$gray-100: #f0f0f0; //CHAT FOOTER
$gray-200: #ededed; //HEADER
$gray-300: #ebebeb; //active
$gray-400: #919191; //BUTTON
$gray-500: #303030; //MAIN CHAT
$black: #000000; //TEXT / TITLE
$black-100: rgba(0, 0, 0, 0.45); //CHAT TIME & CHECKLIST
$black-200: rgba(0, 0, 0, 0.6); //LAST CHAT & GROUP MEMBER
