@import '../../index.scss';
.actionButton {
  height: 72px;
  width: 100%;
  padding-right: 15px;
  border-top: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button.actionButton__button {
  background-color: $accent-300;
  margin: 0 16px;
  padding: 10px;
  text-align: center;
  color: $white;
  cursor: pointer;
  font-weight: bold;
}
button.actionButton__button:hover {
  background-color: $accent-300;
}
